In [14]:
# Lab12 Bike Trip Stats - Taylor Johnson 11/25/2020

In [15]:
import pandas as pd

In [16]:
# data from https://www.kaggle.com/pronto/cycle-share-dataset
trip_df = pd.read_csv('trip.csv')
trip_df.info()
weather_df = pd.read_csv('weather.csv')
weather_df.info()
station_df = pd.read_csv('station.csv')
station_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286858 entries, 0 to 286857
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286858 non-null  int64
 1   starttime          286858 non-null  object
 2   stoptime           286858 non-null  object
 3   bikeid             286858 non-null  object
 4   tripduration       286858 non-null  float64
 5   from_station_name  286858 non-null  object
 6   to_station_name    286858 non-null  object
 7   from_station_id    286858 non-null  object
 8   to_station_id      286858 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        689 non-null    object
 1   Max_Temperature_F           689 non-null    int64
 2   Mean_Temperature_F          688 non-null    float64
 3   Min_TemperatureF            689 non-null    int64
 4   Max_Dew_Point_F             689 non-null    int64
 5   MeanDew_Point_F             689 non-null    int64
 6   Min_Dewpoint_F              689 non-null    int64
 7   Max_Humidity                689 non-null    int64
 8   Mean_Humidity               689 non-null    int64
 9   Min_Humidity                689 non-null    int64
 10  Max_Sea_Level_Pressure_In   689 non-null    float64
 11  Mean_Sea_Level_Pressure_In  689 non-null    float64
 12  Min_Sea_Level_Pressure_In   689 non-null    float64
 13  Max_Visibility_Miles        689 non-null    int64
 14  Mean_Visibility_Miles       689 non-null    int64
 15  Min_Visibility_Miles        689 non-null    int64
 16  Max_Wind_Speed_MPH          689 non-null    int64
 17  Mean_Wind_Speed_MPH         689 non-null    int64
 18  Max_Gust_Speed_MPH          504 non-null    object
 19  Precipitation_In            689 non-null    float64
 20  Events                      328 non-null    object
dtypes: float64(5), int64(13), object(3)
memory usage: 113.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station_id         58 non-null     object
 1   name               58 non-null     object
 2   lat                58 non-null     float64
 3   long               58 non-null     float64
 4   install_date       58 non-null     object
 5   install_dockcount  58 non-null     int64
 6   modification_date  17 non-null     object
 7   current_dockcount  58 non-null     int64
 8   decommission_date  4 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 4.2+ KB

In [85]:
trip_df.head(1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0

In [32]:
weather_df.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [29]:
station_df.head(1)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN

In [22]:
# 1.What is the average trip duration for a borrowed bicycle?
trip_df[["tripduration"]].mean()

tripduration    1178.354284
dtype: float64

In [27]:
# 2. What’s the most common age of a bicycle-sharer?
age = 2020 - (trip_df[["birthyear"]].mean().round())
age

birthyear    40.0
dtype: float64

In [63]:
# 3. Given all the weather data here, find the average precipitation per month, and the median precipitation per month.
# change format to -
weather_df["Date"] = weather_df["Date"].apply(pd.to_datetime)
# extract month from date and make a new column
weather_df['Month'] = pd.DatetimeIndex(weather_df["Date"]).month
weather_df.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,10
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,10
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,10
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,10
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,10

In [80]:
# find average precip per month
months = weather_df[["Month", "Precipitation_In"]].groupby(by="Month").mean()
months
# months.head().set_index("Month")

       Precipitation_In
Month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

In [82]:
# find the median precip per month
weather_df[["Month", "Precipitation_In"]].groupby(by="Month").median()

       Precipitation_In
Month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

In [83]:

station_df.head(1)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN

In [87]:
# 4. What’s the average number of bikes at a given bike station?
station_df[["current_dockcount"]].mean()

current_dockcount    16.517241
dtype: float64

In [ ]:
# 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [ ]:
#6. Come up with 3 more questions that can be answered with this data set.