In [18]:
# Lab12 Video Game Sale Stats - Taylor Johnson 11/25/2020

In [19]:
import pandas as pd

In [20]:
# data from https://www.kaggle.com/gregorut/videogamesales
df = pd.read_csv('vgsales.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [21]:
df.head(2)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24

In [22]:
# 1. Which company is the most common video game publisher?
df[["Publisher"]].value_counts().head(1)

Publisher
Electronic Arts    1351
dtype: int64

In [23]:
# 2. Whatâ€™s the most common platform?
df[["Platform"]].value_counts().head(1)

Platform
DS          2163
dtype: int64

In [24]:
# 3. What about the most common genre?
df[["Genre"]].value_counts().head(1)

Genre
Action    3316
dtype: int64

In [25]:
# 4. What are the top 20 highest grossing games?
df[["Rank", "Name"]].head(20).set_index("Rank")

                                              Name
Rank
1                                       Wii Sports
2                                Super Mario Bros.
3                                   Mario Kart Wii
4                                Wii Sports Resort
5                         Pokemon Red/Pokemon Blue
6                                           Tetris
7                            New Super Mario Bros.
8                                         Wii Play
9                        New Super Mario Bros. Wii
10                                       Duck Hunt
11                                      Nintendogs
12                                   Mario Kart DS
13                     Pokemon Gold/Pokemon Silver
14                                         Wii Fit
15                                    Wii Fit Plus
16                              Kinect Adventures!
17                              Grand Theft Auto V
18                   Grand Theft Auto: San Andreas
19                               Super Mario World
20    Brain Age: Train Your Brain in Minutes a Day

In [47]:
# 5. For North American video game sales, whatâ€™s the median?
# Provide a secondary output showing ten games surrounding the median sales output
# assume that games with same median value are sorted in descending order
na_med = df[["NA_Sales"]].median()
df[df["NA_Sales"] == 0.8][["Name", "NA_Sales", "Rank"]][1:12]

                                                   Name  NA_Sales  Rank
938                                             Pinball       0.8   940
1039                   Star Ocean: Till The End of Time       0.8  1041
1071               Call of Duty Black Ops: Declassified       0.8  1073
1113                         Kirby & the Amazing Mirror       0.8  1115
1118                          Tiger Woods PGA Tour 2003       0.8  1120
1134  Tony Hawk's American Wasteland (Old all region...       0.8  1136
1139                          Pokemon Battle Revolution       0.8  1141
1203                  Star Wars: The Force Unleashed II       0.8  1205
1345                        Frogger 2: Swampy's Revenge       0.8  1347
1355                                UFC Undisputed 2010       0.8  1357
1409                                     Gardening Mama       0.8  1411

In [27]:
# 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
(df[["NA_Sales"]].max() - df[["NA_Sales"]].mean()) // df[["NA_Sales"]].std()

NA_Sales    50.0
dtype: float64

In [28]:
# 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
df[["Global_Sales"]].mean()

Global_Sales    0.537441
dtype: float64

In [33]:
# nintendo has over 4x the average global sales!
global_avg = df[["Global_Sales"]].mean()
nintedno_rate = df[df['Publisher'] == "Nintendo"][["Global_Sales"]].mean() / global_avg
nintedno_rate

Global_Sales    4.728591
dtype: float64

In [43]:
# Which year was the record selling game published?
record_year = df[["Name", "Rank", "Year"]].head(1).set_index("Name")
record_year

            Rank    Year
Name
Wii Sports     1  2006.0

In [45]:
# What are the bottom 20 scoring games?
epic_fail = df[["Rank", "Name"]].tail(20).set_index("Rank")
epic_fail

                                                    Name
Rank
16581                      Outdoors Unleashed: Africa 3D
16582                                  PGA European Tour
16583                                          Real Rode
16584                                          Fit & Fun
16585                                    Planet Monsters
16586                                     Carmageddon 64
16587                                   Bust-A-Move 3000
16588                                             Breach
16589                     Secret Files 2: Puritas Cordis
16590                           Mezase!! Tsuri Master DS
16591                                   Mega Brain Boost
16592  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...
16593  Eiyuu Densetsu: Sora no Kiseki Material Collec...
16594                                Myst IV: Revelation
16595                                           Plushees
16596                 Woody Woodpecker in Crazy Castle 5
16597                      Men in Black II: Alien Escape
16598   SCORE International Baja 1000: The Official Game
16599                                         Know How 2
16600                                   Spirits & Spells

In [46]:
# What is the grand total sales of all games?
cash_money = df[["Global_Sales"]].sum()
cash_money

Global_Sales    8920.44
dtype: float64